@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  /*
  BRAND COLORS (Design Tokens)
  - Central source of truth
  - Used across the app
*/

:root {
  --color-primary: #004aad;
  --color-secondary: #5f6368;
  --color-accent: #f9ab00;
  --color-muted: #f1f3f4;
  --color-heading-1: #000000;
  --color-borderDivider: #d4d4d4;
  --color-hover:#0000FF;
}

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
